<div class ="align-left">
	<p class="font-black">
		1/31/2014
	</p>
	<p class="font-black"><strong>Introduce a Girl to Engineering day!</strong></p>
	<p class="font-gray">
		Come for a fun-filled day of hands-on activities and see what engineering is all about! SHINE and numerous science organizations in the Boston area will be hosting booths. Girls in K-8 and their mothers are welcome to come and explore.<br><br>
	</p>
	<%= link_to "Click Here to RSVP!", engineeringday_path, class: "btn btn-info lter" %><br><br>
	<div class="line line-dashed"></div>
	<p class="font-black">
		1/30/2014
	</p>
	<p class="font-black"><strong>Site Revamp!</strong></p>
	<p class="font-gray">
		We're beginning to revamp our site! Check back soon for updates!
	</p>
</div>