<div id="home-row-2" class="row clearfix">
	<div class="col-12 col-sm-3">
		<div id = "program_link" class="home-hover navigation-slide">
			<%=image_tag("s02.png")%>
		</div>
		<span>PROGRAM</span>
	</div>
	<div class="col-12 col-sm-3">
		<div id= "deadlines_link" class="home-hover navigation-slide">
			<%=image_tag "s04.png" %>
		</div>
		<span>DEADLINES</span></div>
	<div class="col-12 col-sm-3"><div class="home-hover navigation-slide" data-toggle="modal" data-target="#modalFAQ"><%=image_tag "s01.png" %></div><span>FAQ</span></div>
	<div class="col-12 col-sm-3"><div class="home-hover navigation-slide" data-toggle="modal" data-target="#modalSuccess"><%=image_tag "s03.png" %></div><span>SUCCESS</span></div>
</div>

<script type="text/javascript">

$( "#program_link" ).click(function() {
  $(".toggle_slide").addClass("hide");
  $(".program_panel").removeClass("hide");
});

$( "#deadlines_link" ).click(function() {
  $(".toggle_slide").addClass("hide");
  $(".deadlines_panel").removeClass("hide");
});

</script>