<div class="row title-row">
	<div class="col-12 font-thin">Are you a 7th grade girl? Do you like to dance? <br><span class="font-semibold">Apply to SHINE!</span></div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12 font-semibold">SHINE’s mission is to positively transform the lives of local young women by cultivating a passion for mathematics through a free 8-week program that incorporates both math and dance. During the summer, the program will be offered in a more intensive form in 4 weeks.</div>
</div>
<%= render 'about_links' %>