<div class="row title-row">
	<div class="col-12 font-thin">Are you a 7th grade girl? Do you like to dance? <br><span class="font-semibold">Apply to SHINE!</span></div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12 font-semibold">SHINE’s mission is to positively transform the lives of local young women by cultivating a passion for mathematics through a free 8-week program that incorporates both math and dance. During the summer, the program will be offered in a more intensive form in 4 weeks.</div>
</div>
<div id="home-row-2" class="row clearfix">
	<div class="col-12 col-sm-3"><div class="home-hover navigation-slide" data-toggle="modal" data-target="#modalProgram"><%=image_tag("s02.png")%></div><span>PROGRAM</span></div>
	<div class="col-12 col-sm-3"><div class="home-hover navigation-slide" data-toggle="modal" data-target="#modalDates"><%=image_tag "s04.png" %></div><span>DEADLINES</span></div>
	<div class="col-12 col-sm-3"><div class="home-hover navigation-slide" data-toggle="modal" data-target="#modalFAQ"><%=image_tag "s01.png" %></div><span>FAQ</span></div>
	<div class="col-12 col-sm-3"><div class="home-hover navigation-slide" data-toggle="modal" data-target="#modalSuccess"><%=image_tag "s03.png" %></div><span>SUCCESS</span></div>
</div>