<div id="home-row-2" class="row clearfix">
	<div class="col-12 col-sm-3">
		<div id="about_link" class="home-hover navigation-slide">
			<%=image_tag "a.png" %>
		</div>
		<span>ABOUT</span>
	</div>
	<div class="col-12 col-sm-3">
		<div id = "program_link" class="home-hover navigation-slide">
			<%=image_tag("p.png")%>
		</div>
		<span>PROGRAM</span>
	</div>
	<div class="col-12 col-sm-3">
		<div id= "deadlines_link" class="home-hover navigation-slide">
			<%=image_tag "d.png" %>
		</div>
		<span>DEADLINES</span>
	</div>
	<div class="col-12 col-sm-3">
		<div id="success_link" class="home-hover navigation-slide">
			<%=image_tag "s.png" %>
		</div>
		<span>SUCCESS</span>
	</div>
</div>