<div class="row title-row">
	<div class="col-12 font-thin">Leap Towards Your Future <br><span class="font-semibold">Apply to SHINE!</span></div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12 font-semibold">SHINE’s mission is to positively transform the lives of local young women by cultivating a passion for mathematics through a free 8-week program that incorporates math and dance.</div>
</div>