<div class="row title-row">
	<div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12 font-semibold">UNDER CONSTRUCTION<br><br>

		Please email: shineforgirls@gmail.com for questions</div>
	</div>