<div class="row title-row">
	<div class="col-12 font-light">Contact Us!</div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6 font-center ">
	<%#= form_for @message do |f| %>
		<%#= f.label :name, class: 'small-text control-label'%>
    	<%#= f.text_field :name, placeholder:"required", class: 'large-text form-control' %>
    	<%#= f.label :email, class: 'small-text control-label'%>
    	<%#= f.text_field :email, placeholder:"required", class: 'large-text form-control' %>
    	<%#= f.label :subject, class: 'small-text control-label'%>
    	<%#= f.text_field :subject, placeholder:"required", class: 'large-text form-control' %>
    	<%#= f.label :message, class: 'small-text control-label'%>
    	<%#= f.text_area :message, placeholder:"required", class: 'large-text form-control' %><br>
    	<%#= f.submit "Submit", class: "btn btn-lg btn-primary" %>
	<%#end%>
	Join the Movement! 
  <br>
  Connect with us on <a href="https://www.facebook.com/shineforgirls">facebook</a> and/or
  <br>
  send us an <a href="mailto:shineforgirls@gmail.com" >email</a>! 
  <br>
  <br>
  shineforgirls@gmail.com
  <br>

</div>
</div>