<div class="row title-row">
	<div class="col-12 font-semibold">Dates and Deadlines<br></div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12"><small>
		<p>
		<%= link_to "Introduce a Girl to Engineering Event", engineeringday_path, class: "font-white"%> : February 20, 3:30-5:30<br>
        Deadline to apply to SHINE Spring Program: March 1<br>
		SHINE Spring Program: March 5th to May 7th, 3:30pm – 5:30 pm<br>(excludes weeks of March 24th and April 21st)
	</p>
    </div>
</div>
<%= render 'about_links' %>