<div class="scrollable">
	<small><strong>Q: What if I'm not a 6th or 7th grade girl?</strong><br><br>
A: We are sorry, but you are not eligible for this program. This program is only available for those girls in the 6th and 7th grade at the moment. 


<br><br><strong>Q: How do I apply?</strong><br><br> 
A: Please apply online at our website http://www.shineforgirls.org. You may also print out a hard copy of our application at www.shineforgirls.org/printable-forms/. Once completed, applications can be faxed to (617) 258-9357 or mailed to: 
Attn: Sally Susnowitz, Director 
MIT Public Service Center
77 Massachusetts Avenue, 4-104
Cambridge, MA 02139
(SHINE application)

<br><br><strong>Q: I missed the deadline to apply. What do I do now?</strong><br><br>
A: If the program as already begun, you will have to apply for the next program of SHINE. You should contact us through our website with your information so that we can add you to the email list and send reminders for deadlines in the future. If the program has not already started, apply anyway! These applications will have lower priority, but if you contact us in addition to applying we will be sure to consider you.
<br><br><strong>Q: I want to learn to dance, but I am not having a hard time in math class. Can I still apply?</strong><br><br> 
A: Yes, still apply. Through your application, we will be able to determine whether you are a good fit for SHINE.
<br><br><strong>Q: I want to apply to SHINE, but I don't live near the Boston/Cambridge area. Are there other branches?</strong><br><br> 
A: Unfortunately at this time we do not have other branches. However, we are aiming to have the program running in multiple locations for the summer session. Contact us through our online form with your information and we will see if we can get a branch of the program near you!
<br><br><strong>Q: Who will be teaching the dance and math?</strong><br><br> 
A: MIT students with years of dance experience will be the mentors for this program. To learn more about these amazing mentors visit our website http://www.shineforgirls.org! 	
<br><br><strong>Q: What styles of dance will I learn?</strong><br><br> 
A: SHINE focuses on a variety of styles, including hip-hop and jazz. The girls will learn and perform routines that require both stage presence and showmanship, as well as develop the discipline required to master technique. 
<br><br><strong>Q: Will participating in SHINE improve my grades and MCAS scores?</strong><br><br> 
A: While SHINE's purpose is larger than improving grades, students can expect to see better performance in school as a by-product of participating in the program. Similarly, our curriculum is designed to bolster the 6th and 7th grade math curriculum, so it will very likely improve MCAS scores.

<br><br><strong>Q: I have already participated in SHINE, and I want to do it again. Can I reapply</strong><br><br>?
A: SHINE is meant to be a one-time experience. Our curriculum has been created such that after a girl has been through the program she will be able to succeed and shine in her future endeavors. However, if you are still eligible for the program, you may still apply. Please include a description of what more you would like to get out of the program in your application. Let your friends who have not yet participated know about SHINE!
<br><br><strong>Q: Will there be food provided?</strong><br><br> 
A: Yes, at each session a healthy snack will be provided for the girls.
<br><br><strong>Q: How do I donate to the program?</strong><br><br> 
A: If you are interested in donating or becoming a sponsor, contact us and we can get back to you with details. You can donate to SHINE through our website or the MIT Public Service Center. You can mail a donation to SHINE by sending it along with a note that the money be designated to SHINE to: 
Attn: Sally Susnowitz, Director 
MIT Public Service Center
77 Massachusetts Avenue, 4-104
Cambridge, MA 02139

Donations made to SHINE through MIT’s Public Service Center may be tax deductible to the extent allowed by law, and donors will be sent an official receipt from MIT. 
<br><br><strong>Q: I have questions I would like to ask the MIT Public Service Center. Is there someone I can contact?</strong><br><br> 
A: Yes, any questions to MIT Public Service Center can be answered by Sally Susnowitz. She can be reached at susnowit@mit.edu.
<br><br><strong>Q: Where do I send forms related to SHINE?</strong><br><br> 
A: Forms can be sent via mail, fax, or scanned into a computer and emailed. Fax to (617) 258-9357. You can mail to: 
Attn: Sally Susnowitz, Director 
MIT Public Service Center
77 Massachusetts Avenue, 4-104
Cambridge, MA 02139
(SHINE application)

If you choose to scan a form in, email the pdf to shineforgirls@gmail.com.

<br><br><strong>Q: What if I have other questions that have not been answered here?</strong><br><br>
A: No problem! Contact us via the website and we will get back to you soon.
</small>
</div>