<div class="col-lg-8">
	<%= image_tag "icon.png", width: "250", class: "animated fadeInLeft" %>
	<h1 class="font-semibold yellow">SHINE <span class="font-thin white">FOR GIRLS</span></h1>
	<h4 class="font-thin">Ensuring <span class="font-semibold">every girl</span> has access to academic support <br>
		through healthy and creative endeavors.</h4>
</div><!-- /col-8 -->
<div class="col-lg-4">
	<div class="xlg-space"></div>
	<section class = "animated fadeInRight panel bg-semi-trans">
		<div class="panel-body">
			<header class="panel-heading thick-border bg-yellow text-center">
				<h4 class="font-semibold"><strong>ANNOUNCEMENTS</strong></h4>
			</header>
			<%=render 'events/girl_eng_day'%>
		</div>
	</section>
</div>