<div class="col-lg-8">
	
</div><!-- /col-8 -->
<div class="col-lg-4">
	<div class="xlg-space"></div>
	<section class = "animated fadeInRight panel bg-semi-trans">
		<div class="panel-body">
			<header class="panel-heading thick-border bg-yellow text-center">
				<h4 class="font-semibold"><strong>ANNOUNCEMENTS</strong></h4>
			</header>
			<%=render 'events/girl_eng_day'%>
		</div>
	</section>
</div>