<ul class="nav row">
	<li data-slide="1" class="col-12 col-sm-2">
		<a id="menu-link-1" href="#slide-1" title="Next Section">
			<span class="font-trans icon icon-home"></span>
			<span class="text">
				<%=image_tag "icon.png", class: "m-neg-top", width: "28"%> &nbsp; &nbsp; SHINE
			</span>
		</a>
	</li>
	<li id = "slide2" data-slide="2" class="col-12 col-sm-2">
		<a id="menu-link-2" href="#slide-2" title="Next Section">
			<span class="font-trans icon icon-user font-white"></span>
			<span class="text">ABOUT</span>
		</a>
	</li>
	<li data-slide="3" class="col-12 col-sm-2">
		<a id="menu-link-3" href="#slide-3" title="Next Section">
			<span class="font-trans icon icon-briefcase"></span>
			<span class="text">NEWS</span>
		</a>
	</li>
	<li data-slide="4" class="col-12 col-sm-2">
		<a id="menu-link-4" href="#slide-4" title="Next Section">
			<span class="font-trans icon icon-gears"></span>
			<span class="text">APPLY</span>
		</a>
	</li>
	<li data-slide="5" class="col-12 col-sm-2">
		<a id="menu-link-5" href="#slide-5" title="Next Section">
			<span class="font-trans icon icon-heart"></span>
			<span class="text">SPONSORSHIP</span>
		</a>
	</li>
	<li data-slide="6" class="col-12 col-sm-2">
		<a id="menu-link-6" href="#slide-6" title="Next Section">
			<span class="font-trans icon icon-envelope"></span>
			<span class="text">CONTACT</span>
		</a>
	</li>
</ul>