<div class="row title-row">
	<div class="col-12 font-semibold">Program Description <br></div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12">
		<p><small>
		SHINE is an 8-week program that combines formal dance classes with a tailored math curriculum with the overarching goal of establishing a lifelong love of mathematics and creative expression in its students. SHINE will run from March 5th to May 7th on Wednesday afternoons from 3:30pm – 5:30 pm and is held on MIT’s beautiful campus at the McCormick Hall, 320 Memorial Drive, Cambridge, MA 02139.</small></p><br>
		<p><small>
    	The program is taught by trained dance instructors and math mentors from MIT. Following a rigorous curriculum, SHINE incorporates a method of learning called ‘kinesthetic learning’ which allows students to have fun while they progress to different levels of mathematics, eventually covering all the 6th and 7th Grade Math Standards. The dance portion of classes will focus on both choreography and technique of many different dance styles.</small></p>
    </div>
</div>
