<div class="engineeringday_bg bg-info">
	<div class="container">
		<div class="med-space"></div>
		<div class="col-8">
			<section class="panel">
			<h1>Introduce a Girl to Engineering Day</h1>

			<div class="line line-dashed"></div><br>
			<p>Come for a fun-filled day of hands-on activities and see what engineering is all about! SHINE and numerous science organizations in the Boston area will be hosting booths. Girls in K-8 and their mothers are welcome to come and explore.</p>
			<a href="/" class ="btn btn-lg btn-warning"><h4>Go Back</h4></a> &nbsp; &nbsp;
			<a href="http://docs.google.com/forms/d/1Rm-bI37IiYiDk21mA147RjFguAySpNmwymV8aNI7DPw/viewform" class="btn btn-info btn-lg"><h4>Click Here to RSVP!</h4></a>
			</section>
			<section class="panel">
				<div class="col-6">
					<h4>Location: Boston Public Library <br><br>
					Johnson Room 2 & 3<br><br>
					When: February 20th 3:30pm-5:30pm <br><br></h4>
				</div>
				<div class="col-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2948.6581868837966!2d-71.07749815000001!3d42.3498104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0c429bf853%3A0xb9d45dfe5bc1ac73!2sBoston+Public+Library%2C+Boylston+Street%2C+Boston%2C+MA!5e0!3m2!1sen!2sus!4v1391192517193" width="280" height="200" frameborder="0" style="border:0">
					</iframe>
				</div>
				&nbsp;
			</section>
		</div>
		<div class="col-4">
			<section class="panel text-center">
				<h4>HOSTED BY</h4>
				<%=image_tag "icon2.png", width: "200"%>
				<h1>SHINE</h1>
			</section>
		</div>
	</div>
</div>